body {

}


main > .container {
    padding: 60px 15px 0;
}

#title {
    margin-top: 12px;
    background-color: #fff;
    color: #000;

}


#content {
    background-color: #fff;
    border-top: solid 6px #f00;

}

#footer {
    margin_top: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding-top: 50px;
}

/* CSS for pagination */
.pagination{
    font-family: Arial, sans-serif;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.pagination a{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active{
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    pointer-events: none;
}

.pagination a:hover:not(.active){
    background-color: #ddd;
}