body {

}


main > .container {
    padding: 60px 15px 0;
}

#title {
    margin-top: 12px;
    background-color: #fff;
    color: #000;

}


#content {
    background-color: #fff;
    border-top: solid 6px #f00;

}

#footer {
    margin_top: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding-top: 50px;
}

.pagination{
    display: inline-block;
}
.pagination a{
    font-weight: bold;
    font-size: 18px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid black;
}

.pagination a.active{
    background-color: pink;
}

.pagination a:hover:not(.active){
    background-color: skyblue;
}